.todo {
	&-add {
		a {
			@include button-add
			text-decoration: none;
			color: $base-font-color;
		}
	}

	padding: $base-spacer / 2;
	border-bottom: {
		style: dotted;
		width: 1px;
		color: $base-border-color;
	}
	&-item {
		display: -webkit-flex;
		display: flex;

		&_title {
			flex: 1;
		}
		&_state {
			display: inline-block;
			@include border-top-radius(10px);
			@include border-bottom-radius(10px);
			width: 80px;
			background-color: #ed8077;
			text-align: center;
			font-size: .9em;
			color: #fff;
			text-decoration: none;
			&.finished {
				background-color: #cccccc;
			}
		}
	}
	&-info {
		display: -webkit-flex;
		display: flex;
		margin-top: 5px;

		&_date {
			flex: 1;
			font-size: .9em;
			color: #999999;
		}
		&_action {
			width: 80px;
			text-align: center;
		}
	}
	&-form {
		padding: $base-spacer / 2;
		border: 1px solid $base-border-color;
		background-color: $base-main-color;

		&_inner {
			display: -webkit-flex;
			display: flex;
		}
		&_input {
			&.title {
				flex: 1;
				width: 100%;
			}
			&.limitAt {
				width: 160px;
				input {
					width: 100%;
				}

				.vdp-datepicker__calendar {
					right: 0;
				}
			}
		}
	}
}