.todolist {
	&-add {
		a {
			@include button-add
			text-decoration: none;
			color: $base-font-color;
		}
	}
	&-item {
		display: -webkit-flex;
		display: flex;

		&_mark {
			display: inline-block;
			margin-top: 2px;
			width: 16px;
			height: 16px;
			border: 1px solid $base-border-color;
			background-color: #fff;
			@include border-top-radius(8px);
			@include border-bottom-radius(8px);
		}
		&_title {
			flex: 1;
			margin-left: 7px;
			align-self: center;
		}
	}
	&-form {
		position: relative;
		padding: $base-spacer / 2;
		border: 1px solid $base-border-color;
		background-color: #fff;

		&_mark {
			position: absolute;
			display: inline-block;
			top: 15px;
			left: 15px;
			width: 16px;
			height: 16px;
			border: 1px solid $base-border-color;
			background-color: #fff;
			@include border-top-radius(8px);
			@include border-bottom-radius(8px);
		}
		&_input {
			padding-left: 30px;
			box-sizing: border-box;
			width: 100%;
		}
	}
}