.page-title {
	margin-bottom: $base-spacer * 2;
	padding: $base-spacer / 2;
	font-size: 1.5em;
}

.section-title {
	padding: $base-spacer / 2;
	border-bottom: {
		style: solid;
		width: 1px;
		color: $base-border-color;
	}
}