@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, .container {
  height: 100%;
  line-height: 1.5em; }

body, input {
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", "\6E38\30B4\30B7\30C3\30AF\4F53", "Yu Gothic Medium", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", "Hiragino Kaku Gothic ProN", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: .9em;
  color: #444444; }

input {
  padding: 3px 5px; }
  input[type="button"] {
    border: 1px solid #e3e3e3;
    background-color: #fafafa; }

.l-header {
  background-color: #30b27f;
  text-align: center; }
  .l-header-container {
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    width: 980px;
    text-align: left; }
  .l-header h1 {
    flex: 1; }
    .l-header h1 a {
      display: block;
      padding-left: 40px;
      background-image: url(../images/logo.png);
      background-repeat: no-repeat;
      background-position: center left;
      line-height: 50px;
      font-weight: bold;
      font-size: 1.2em;
      color: #fff;
      text-decoration: none; }
  .l-header .searcharea {
    flex: 3; }

.l-main {
  background-color: #efefef;
  text-align: center; }
  .l-main-container {
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    width: 980px;
    height: 100%;
    text-align: left; }
  .l-main-menu {
    z-index: 20;
    box-sizing: border-box;
    width: 240px;
    padding: 20px 20px 20px 0; }
  .l-main-content {
    flex: 1;
    z-index: 10;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    border-style: solid;
    border-width: 0 1px;
    border-color: #e3e3e3;
    background-color: #fff; }

.btn_edit {
  margin: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/modify.png");
  background-position: center;
  text-indent: -9999px; }

.btn_remove {
  margin: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/remove.png");
  background-position: center;
  text-indent: -9999px; }

.page-title {
  margin-bottom: 40px;
  padding: 10px;
  font-size: 1.5em; }

.section-title {
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e3e3e3; }

.errors {
  padding: 10px; }
  .errors ul li {
    color: #ff0000;
    font-size: .9em; }

.searcharea {
  position: relative;
  align-self: center; }
  .searcharea_icon {
    position: absolute;
    top: 6px;
    left: 6px; }
  .searcharea_input {
    padding-left: 30px;
    width: 300px; }

.todolist-add a {
  padding: 3px 25px;
  background-image: url(../images/add.png);
  background-repeat: no-repeat;
  background-position: center left;
  text-decoration: none;
  color: #444444; }

.todolist-item {
  display: -webkit-flex;
  display: flex; }
  .todolist-item_mark {
    display: inline-block;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
  .todolist-item_title {
    flex: 1;
    margin-left: 7px;
    align-self: center; }

.todolist-form {
  position: relative;
  padding: 10px;
  border: 1px solid #e3e3e3;
  background-color: #fff; }
  .todolist-form_mark {
    position: absolute;
    display: inline-block;
    top: 15px;
    left: 15px;
    width: 16px;
    height: 16px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
  .todolist-form_input {
    padding-left: 30px;
    box-sizing: border-box;
    width: 100%; }

.todo {
  padding: 10px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #e3e3e3; }
  .todo-add a {
    padding: 3px 25px;
    background-image: url(../images/add.png);
    background-repeat: no-repeat;
    background-position: center left;
    text-decoration: none;
    color: #444444; }
  .todo-item {
    display: -webkit-flex;
    display: flex; }
    .todo-item_title {
      flex: 1; }
    .todo-item_state {
      display: inline-block;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 80px;
      background-color: #ed8077;
      text-align: center;
      font-size: .9em;
      color: #fff;
      text-decoration: none; }
      .todo-item_state.finished {
        background-color: #cccccc; }
  .todo-info {
    display: -webkit-flex;
    display: flex;
    margin-top: 5px; }
    .todo-info_date {
      flex: 1;
      font-size: .9em;
      color: #999999; }
    .todo-info_action {
      width: 80px;
      text-align: center; }
  .todo-form {
    padding: 10px;
    border: 1px solid #e3e3e3;
    background-color: #efefef; }
    .todo-form_inner {
      display: -webkit-flex;
      display: flex; }
    .todo-form_input.title {
      flex: 1;
      width: 100%; }
    .todo-form_input.limitAt {
      width: 160px; }
      .todo-form_input.limitAt input {
        width: 100%; }
      .todo-form_input.limitAt .vdp-datepicker__calendar {
        right: 0; }

.p-todolist .todolist-form,
.p-todolist .todolist {
  margin-bottom: 20px; }

.p-todolist .todolist-add {
  margin-bottom: 5px; }

.p-todolist .todolist-state,
.p-todolist .todolist-date {
  margin-left: 25px; }

.p-todo .todo-title,
.p-todo .todo-add {
  margin-bottom: 5px; }

.p-search .todolist-item {
  margin-bottom: 5px; }

.p-inbox .inbox-item {
  margin-top: 40px; }

.p-inbox .todolist-item {
  margin-bottom: 5px; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/