<template>
	<div class="p-inbox">
		<h2 class="page-title">Inbox</h2>
		<div class="inbox-item">
			<h3 class="section-title">期限切れ</h3>
			<errors v-bind:errors="is_expired"></errors>
			<todo
				v-for="todo in inbox.expired.todos"
				type="inbox"
				v-bind:todo="todo"
				v-bind:key="todo._id">
			</todo>
		</div>
		<div class="inbox-item">
			<h3 class="section-title inbox-today">今日</h3>
			<errors v-bind:errors="is_today"></errors>
			<todo
				v-for="todo in inbox.today.todos"
				type="inbox"
				v-bind:todo="todo"
				v-bind:key="todo._id">
			</todo>
		</div>
		<div class="inbox-item">
			<h3 class="section-title inbox-tommorow">明日</h3>
			<errors v-bind:errors="is_tommorow"></errors>
			<todo
				v-for="todo in inbox.tommorow.todos"
				type="inbox"
				v-bind:todo="todo"
				v-bind:key="todo._id">
			</todo>
		</div>
		<div class="inbox-item">
			<h3 class="section-title inbox-within">今週</h3>
			<errors v-bind:errors="is_within"></errors>
			<todo
				v-for="todo in inbox.within.todos"
				type="inbox"
				v-bind:todo="todo"
				v-bind:key="todo._id">
			</todo>
		</div>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import Errors from '../components/Errors.vue';
	import Todo from '../components/Todo.vue';

	export default {
		components: { Errors, Todo },
		mounted() {
			this.getInboxTodos();
		},
		computed: {
			...mapGetters('todo', [
				'inbox'
			]),
			is_expired: function() {
				let errors = [];
				if (this.inbox.expired.todos.length == 0)
					errors.push('TODOがありません');
				return errors;
			},
			is_today: function() {
				let errors = [];
				if (this.inbox.today.todos.length == 0)
					errors.push('TODOがありません');
				return errors;
			},
			is_tommorow: function() {
				let errors = [];
				if (this.inbox.tommorow.todos.length == 0)
					errors.push('TODOがありません');
				return errors;
			},
			is_within: function() {
				let errors = [];
				if (this.inbox.within.todos.length == 0)
					errors.push('TODOがありません');
				return errors;
			}
		},
		methods: {
			...mapActions('todo', [
				'getInboxTodos'
			])
		}
	};
</script>
