<template>
	<div class="p-search">
		<h2 class="page-title">検索結果</h2>
		<errors v-bind:errors="errors"></errors>
		<todo
			v-for="todo in todos"
			type="search"
			v-bind:todo="todo"
			v-bind:key="todo._id">
		</todo>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import Errors from '../components/Errors.vue';
	import Todo from '../components/Todo.vue';

	export default {
		components: { Errors, Todo },
		mounted() {
			this.query = this.$route.query.q;
			this.getSearchTodos(this.query);
		},
		watch: {
			'$route' (to, from) {
				this.query = this.$route.query.q;
				this.getSearchTodos(this.query);
			}
		},
		data() {
			return {
				query: ''
			};
		},
		computed: {
			...mapGetters('todo', [
				'todos'
			]),
			errors: function() {
				let errors = [];
				if (this.query == '') {
					errors.push('キーワードを入力してください');
				} else if (this.todos.length == 0) {
					errors.push('該当するTODOがありません');
				}
				return errors;
			}
		},
		methods: {
			...mapActions('todo', [
				'getSearchTodos'
			])
		}
	}
</script>