<template>
	<div class="p-todo">
		<h2 class="page-title">{{ todolist.title }}</h2>
		<div class="todo-add">
			<a href="#" v-on:click.stop="showNewTodo">TODOを追加</a>
		</div>
		<errors v-bind:errors="errors"></errors>
		<todo-form
			v-if="editTodo == 0"
			v-bind:todolistId="this.$route.params.id"
			v-on:cancelTodo="cancelTodo" />
		<todo
			v-for="todo in todos"
			v-bind:todo="todo"
			v-bind:key="todo._id">
		</todo>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import Errors from '../components/Errors.vue';
	import Todo from '../components/Todo.vue';
	import TodoForm from '../components/TodoForm.vue';

	export default {
		components: { Errors, Todo, TodoForm },
		mounted() {
			if (this.$route.params.id !== undefined) {
				this.getTodos(this.$route.params.id);
			}
		},
		watch: {
			'$route' (to, from) {
				this.getTodos(to.params.id);
			}
		},
		computed: {
			...mapGetters('todo', [
				'todolist',
				'todos',
				'editTodo'
			]),
			errors: function() {
				let errors = [];
				if (this.todos.length == 0)
					errors.push('TODOがありません');
				return errors;
			}
		},
		methods: {
			...mapActions('todo', [
				'getTodos',
				'cancelTodo'
			]),
			showNewTodo(event) {
				event.preventDefault();
				this.$store.dispatch('todo/editTodo', 0);
			}
		}
	};
</script>