html, body, .container {
	height: 100%;
	line-height: 1.5em;
}
body, input {
	font: {
		family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		size: .9em;
	}
	color: $base-font-color;
}

input {
	padding: 3px 5px;
	&[type="button"] {
		border: 1px solid $base-border-color;
		background-color: #fafafa;
	}
}