@mixin button-add() {
	padding: 3px 25px;
	background: {
		image: url(../images/add.png);
		repeat: no-repeat;
		position: center left;
	}
}

@mixin icon($image) {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: {
		repeat: no-repeat;
		image: url($image);
		position: center;
	}
	text-indent: -9999px;
}

@mixin min-height($val) {
	min-height: $val;
	height: auto !important;
	height: $val;
}