$base-color: #30b27f;
$base-main-color: #efefef;

$base-border-color: shade($base-main-color, 5%);

$base-font-color: #444444;
$base-font-header-color: #fff;

$base-container: 980px;

$base-spacer: 20px;

$header-height: 50px;
$main-height: calc(100% - 50px);