<template>
	<div class="container">
		<header class="l-header">
			<div class="l-header-container">
				<h1>
					<router-link to="/">TODO</router-link>
				</h1>
				<searcharea></searcharea>
			</div>
		</header>
		<main class="l-main" v-bind:style="{ height: mainHeight }">
			<div class="l-main-container">
				<div class="l-main-menu p-todolist">
					<todolists></todolists>
				</div>
				<div class="l-main-content">
					<router-view></router-view>
				</div>
			</div>
		</main>
	</div>
</template>

<script>
	import Searcharea from '../components/Searcharea.vue';
	import Todolists from '../components/Todolists.vue';

	export default {
		components: { Searcharea, Todolists },
		data() {
			return {
				mainHeight: '100%'
			}
		},
		mounted() {
			this.handleResize();
			window.addEventListener('resize', this.handleResize);
		},
		updated() {
			this.handleResize();
		},
		methods: {
			handleResize() {
				this.mainHeight = this.getHeight();
			},
			getHeight() {
				return (Math.max.apply(null, [document.body.clientHeight, document.body.scrollHeight]) - 50) + 'px';
			}
		}
	};
</script>