.l-header {
	background-color: $base-color;
	text-align: center;

	&-container {
		display: -webkit-flex;
		display: flex;
		margin: 0 auto;
		width: $base-container;
		text-align: left;
	}

	h1 {
		flex: 1;
		a {
			display: block;
			padding-left: 40px;
			background: {
				image: url(../images/logo.png);
				repeat: no-repeat;
				position: center left;
			}
			line-height: $header-height;
			font: {
				weight: bold;
				size: 1.2em;
			}
			color: $base-font-header-color;
			text-decoration: none;
		}
	}
	.searcharea {
		flex: 3;
	}
}