.l-main {
	background-color: $base-main-color;
	text-align: center;

	&-container {
		display: -webkit-flex;
		display: flex;
		margin: 0 auto;
		width: $base-container;
		height: 100%;
		text-align: left;
	}

	&-menu {
		z-index: 20;
		box-sizing: border-box;
		width: 240px;
		@include padding($base-spacer $base-spacer $base-spacer 0);
	}
	&-content {
		flex: 1;
		z-index: 10;
		box-sizing: border-box;
		padding: $base-spacer;
		height: 100%;
		border: {
			style: solid;
			width: 0 1px;
			color: $base-border-color;
		}
		background-color: #fff;
	}
}