<template>
	<div class="errors" v-if="is_errors">
		<ul>
			<li v-for="error in errors">{{ error }}</li>
		</ul>
	</div>
</template>

<script>
	export default {
		props: [ 'errors' ],
		computed: {
			is_errors: function() {
				if (this.errors == null) {
					return false;
				} else {
					return this.errors.length > 0;
				}
			}
		}
	}
</script>