<template>
	<div class="searcharea">
		<img src="/images/search.png" alt="" class="searcharea_icon">
		<input type="text" name="q" class="searcharea_input" placeholder="例）レポート作成"
			v-model="q"
			v-on:keydown.enter="search" />
	</div>
</template>
<script>
	export default {
		data() {
			return {
				q: this.$route.query.q ? this.$route.query.q : ''
			};
		},
		methods: {
			search() {
				this.$router.push(`/search?q=${this.q}`);
			}
		}
	}
</script>