<template>
	<div class="p-todolist">
		<todolist
			v-for="todolist in todolists"
			v-bind:todolist="todolist"
			v-bind:key="todolist._id">
		</todolist>
		<div class="todolist-add">
			<a href="#" v-on:click.stop="showNewTodolist">TODOリストを追加</a>
		</div>
		<todolist-form
			v-if="editTodolist == 0"
			v-on:cancelTodolist="cancelTodolist" />
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import Todolist from './Todolist.vue';
	import TodolistForm from './TodolistForm.vue';

	export default {
		components: { Todolist, TodolistForm },
		mounted() {
			this.getTodolists();
		},
		computed: {
			...mapGetters('todolist', [
				'todolists',
				'editTodolist'
			])
		},
		methods: {
			...mapActions('todolist', [
				'getTodolists',
				'cancelTodolist'
			]),
			showNewTodolist(event) {
				event.preventDefault();
				this.$store.dispatch('todolist/editTodolist', 0);
			}
		}
	}
</script>