<template>
	<div class="todo-form">
		<div class="todo-form_inner">
			<input type="text" name="title" class="todo-form_input title" placeholder="TODOを入力"
				v-model="title"
				v-on:keydown.enter="addTodo" />
			<datepicker
				placeholder="期限日"
				v-model="limitAt"
				class="todo-form_input limitAt"
				language="ja" format="yyyy年M月d日"></datepicker>
		</div>
		<div class="todo-form_buttons">
			<input type="button" value="保存" v-on:click="addTodo" />
			<a href="#" v-on:click.stop="cancelTodo">キャンセル</a>
		</div>
		<errors v-bind:errors="errorsTodo"></errors>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import datepicker from 'vuejs-datepicker';
	import Errors from './Errors.vue';

	export default {
		props: [ 'todo', 'todolistId', 'type' ],
		components: { datepicker, Errors },
		data() {
			let title = '';
			let limitAt = '';
			if (this.todo) {
				title = this.todo.title;
				limitAt = this.todo.limitAt;
			}
			return {
				title: title,
				limitAt: limitAt
			};
		},
		computed: {
			...mapGetters('todo', [
				'errorsTodo'
			])
		},
		methods: {
			...mapActions('todo', [
				'getInboxTodos',
				'getSearchTodos',
				'getTodos',
				'setErrorsTodo'
			]),
			addTodo(event) {
				let _todo = {
					title: this.title,
					limitAt: this.limitAt
				};
				if (this.todo) {
					_todo._id = this.todo._id;
				} else {
					_todo.finished = null;
				}
				this.$store.dispatch('todo/addTodo', [_todo, this.todolistId])
					.then(() => {
						if (this.type == 'inbox') {
							this.getInboxTodos();
						} else if (this.type == 'search') {
							this.getSearchTodos(this.$route.query.q);
						} else {
							this.getTodos(this.todolistId);
						}
					});
			},
			cancelTodo(event) {
				event.preventDefault();
				this.$emit('cancelTodo');
			}
		}
	}
</script>