<template>
	<div class="p-todolist-item">
		<todolist-form
			v-if="editTodolist == todolist._id"
			v-bind:todolist="todolist"
			v-on:cancelTodolist="cancelTodolist" />
		<div class="todolist" v-else>
			<div class="todolist-item">
				<span class="todolist-item_mark" v-bind:style="{ backgroundColor: todolist.color }"></span>
				<div class="todolist-item_title">
					<router-link :to="{ path: `/todo/${todolist._id}` }">{{ todolist.title }}</router-link>
				</div>
				<a href="#" class="btn_edit" v-on:click.stop="showEditTodolist"></a>
				<a href="#" class="btn_remove" v-on:click.stop="removeTodolist"></a>
			</div>
			<div class="todolist-state">{{ todolist.todos.length }}個中{{ todolist.todos_complete.length }}個がチェック済み</div>
			<div class="todolist-date">{{ limitAt }}</div>
		</div>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import moment from 'moment';

	import  TodolistForm from './TodolistForm.vue';

	export default {
		props: [ 'todolist' ],
		components: { TodolistForm },
		computed: {
			...mapGetters('todolist', [
				'editTodolist'
			]),
			limitAt: function() {
				let result = '';
				if (this.todolist.todo_limitAt != null) {
					let limitAt = moment(this.todolist.todo_limitAt).format('YYYY年M月D日');
					result = '〜' + limitAt;
				}
				return result;
			}
		},
		methods: {
			...mapActions('todolist', [
				'cancelTodolist'
			]),
			showEditTodolist(event) {
				event.preventDefault();
				this.$store.dispatch('todolist/editTodolist', this.todolist._id);
			},
			removeTodolist(event) {
				event.preventDefault();
				if (confirm('TODOリストを削除します。\nよろしいですか？') === false) {
					return false;
				}
				this.$store.dispatch('todolist/removeTodolist', this.todolist._id);
			}
		}
	}
</script>