<template>
	<div class="todolist-form">
		<span class="todolist-form_mark"
			v-on:click="toggleColorPicker"
			v-bind:style="{ backgroundColor: bgc }"></span>
		<input type="text" name="title" class="todolist-form_input" placeholder="TODOリスト名を入力"
			v-model="title"
			v-on:keydown.enter="addTodolist" />
		<div class="todolist-form_buttons">
			<input type="button" value="保存" v-on:click="addTodolist" />
			<a href="#" v-on:click.stop="cancelTodolist">キャンセル</a>
		</div>
		<compact-picker v-model="colors" v-if="showColor" />
		<errors v-bind:errors="errorsTodolist"></errors>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { Compact } from 'vue-color';
	import Errors from './Errors.vue';

	export default {
		props: [ 'todolist' ],
		components: {
			'CompactPicker': Compact,
			Errors
		},
		data() {
			let title = '';
			let colors = { hex: '#ffffff' };
			if (this.todolist) {
				title = this.todolist.title;
				colors.hex = this.todolist.color;
			}
			return {
				title: title,
				colors: colors,
				showColor: false
			};
		},
		computed: {
			...mapGetters('todolist', [
				'errorsTodolist'
			]),
			bgc() {
				this.showColor = false;
				return this.colors.hex;
			}
		},
		methods: {
			addTodolist(event) {
				let _todolist = {
					title: this.title,
					color: this.colors.hex
				};
				if (this.todolist) {
					_todolist._id = this.todolist._id;
				}
				this.$store.dispatch('todolist/addTodolist', _todolist);
			},
			toggleColorPicker() {
				this.showColor = !this.showColor;
			},
			cancelTodolist(event) {
				event.preventDefault();
				this.$emit('cancelTodolist');
			}
		}
	}
</script>
