<template>
	<div>
		<todo-form
			v-if="editTodo == todo._id"
			v-bind:type="type"
			v-bind:todo="todo"
			v-bind:todolistId="todo._todolist._id"
			v-on:cancelTodo="cancelTodo" />
		<div class="todo" v-else>
			<div class="todolist-item" v-if="type != undefined">
				<span class="todolist-item_mark" v-bind:style="{ backgroundColor: todo._todolist.color }"></span>
				<div class="todolist-item_title">{{ todo._todolist.title }}</div>
			</div>
			<div class="todo-item">
				<div class="todo-item_title">{{ todo.title }}</div>
				<a href="#" class="todo-item_state"
					v-bind:class="{ finished: isFinished }"
					v-on:click.stop="finishedTodo">{{ finished }}</a>
			</div>
			<div class="todo-info">
				<div class="todo-info_date">
					期限：{{ limitAt }}
					/
					作成日：{{ createdAt }}
				</div>
				<div class="todo-info_action">
					<a href="#" class="btn_edit" v-on:click.stop="showEditTodo">e</a>
					<a href="#" class="btn_remove" v-on:click.stop="removeTodo">r</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';
	import moment from 'moment';

	import TodoForm from './TodoForm.vue';

	export default {
		props: [ 'todo', 'type' ],
		components: { TodoForm },
		computed: {
			...mapGetters('todo', [
				'editTodo'
			]),
			limitAt: function() {
				return moment(this.todo.limitAt).format('YYYY年M月D日');
			},
			createdAt: function() {
				return moment(this.todo.createdAt).format('YYYY年M月D日');
			},
			isFinished: function () {
				return (this.todo.finishedAt !== null);
			},
			finished: function() {
				return this.todo.finishedAt ? '完了' : '未完了'
			}
		},
		methods: {
			...mapActions('todo', [
				'getInboxTodos',
				'getSearchTodos',
				'getTodos',
				'cancelTodo'
			]),
			showEditTodo(event) {
				event.preventDefault();
				this.$store.dispatch('todo/editTodo', this.todo._id);
			},
			removeTodo(event) {
				event.preventDefault();
				if (confirm('TODOを削除します。\nよろしいですか？') === false) {
					return false;
				}
				this.$store.dispatch('todo/removeTodo', [this.todo._id, this.todo._todolist._id])
					.then(() => {
						if (this.type == 'inbox') {
							this.getInboxTodos();
						} else if (this.type == 'search') {
							this.getSearchTodos(this.$route.query.q);
						} else {
							this.getTodos(this.todo._todolist._id);
						}
					});
			},
			finishedTodo(event) {
				event.preventDefault();
				if (confirm('TODOを完了します。\nよろしいですか？') === false) {
					return false;
				}
				this.$store.dispatch('todo/finishedTodo', [this.todo._id, this.todo._todolist._id])
					.then(() => {
						if (this.type == 'inbox') {
							this.getInboxTodos();
						} else if (this.type == 'search') {
							this.getSearchTodos(this.$route.query.q);
						} else {
							this.getTodos(this.todo._todolist._id);
						}
					});
			}
		}
	}
</script>